/* Initialize */
body { margin: 0; }
a { text-decoration: none; color: inherit; }
ul, li { padding: 0; margin: 0; list-style: none; }
p { margin: 0; }


/* Header */
header { 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100px;
  z-index: 2;
}
.header-con {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  height: 100%; width: 85%; 
  margin: 0 auto; 
}
.nav { display: flex; }
.nav > li > ul { display: none; }
.tools { display: flex; color: #fff; }

/* Welcome */
.welcome { position: relative; height: 100vh; overflow: hidden; }
.welcome:hover .welcome-prev { left: 50px; opacity: 1; visibility: visible; }
.welcome:hover .welcome-next { right: 50px; opacity: 1; visibility: visible; } 
.welcome > a {
  position: absolute;
  z-index: 2;
  top: 50%; transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; height: 80px;
  font-size: 35px;
  color: royalblue;
  background-color: #fff;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}
.welcome > a:hover { background-color: royalblue; color: #fff;}
.welcome-prev { left: 0; }
.welcome-next { right: 0; }
.welcome-con { 
  display: flex; 
  width: 400%; height: 100%; 
  transition: .3s;
}
.welcome-con > div { 
  width: 50%; 
  height: 100%; 
  background-size: cover;
}
.welcome-text {
  position: absolute;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; height: 50%; 
  color: #fff;
  font-size: 33px;
  z-index: 2;
}
.welcome-text h1 > p { font-size: 120px; }
.welcome-page-01 { background: url('./welcome-01.jpg') no-repeat; }
.welcome-page-02 { background: url('./welcome-02.jpg') no-repeat; }
.welcome-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%; 
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

/* Intro */
.intro { 
  display: flex; 
  justify-content: center; 
  height: 430px; 
  background-color: #f8f8f8;
}
.intro-con {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: #f8f8f8;
  width: 60%; height: 100%; 
  perspective: 1000px;
}
.intro-card-con:hover .intro-card {
  transform: rotateY(180deg);
} 
.intro-card-con { 
  width: 23%; height: 60%;
} 
.intro-card {
  position: relative;
  justify-content: center;
  width: 100%; height: 100%;
  background-color: #fff;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(.63,1.87,.55,.54);
  transform-style: preserve-3d;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card-front,
.card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; height: 100%;
  backface-visibility: hidden;
}
.card-back { transform: rotateY(180deg); }