 /* Initialize */
body { margin: 0; }
a { text-decoration: none; color: inherit; }
ul, li { padding: 0; margin: 0; list-style: none; }
p { margin: 0; }
h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: normal; font-size: 16px; }

/* Header */
.pc-header { 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 85px;
  z-index: 10;
  transition: .3s;
}
.pc-header.fill { background-color: #00247e; }
.pc-header.fill .header-con { width: 90%; }
.header-con {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  height: 100%; width: 85%; 
  margin: 0 auto; 
  transition: .5s;
}
.header-con > a { 
  display: flex;
  align-items: center;
  height: 100%;
}
.nav { 
  display: flex; 
  align-items: center; 
  height: 100%;  
  color: #fff; 
}
.nav-title { 
  position: relative;
  display: flex; 
  align-items: center; 
  height: 100%; 
  padding: 0 15px;  
  font-size: 18px;
  cursor: pointer;
}
.nav-title:hover .nav-submenu { 
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.nav-title a .fas { margin: 0 0 0 5px; line-height: 1.5em; color: #aaa; }
.nav-submenu { 
  position: absolute;
  top: 100%; left: 0;
  width: 270px; 
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  background-color: #fff;
  color: #666;
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.nav-submenu > li {
  position: relative;
  padding: 10px 30px; box-sizing: border-box; 
  transition: .3s;
}
.nav-submenu > li:hover { color: #0c5adb; padding: 10px 30px 10px 40px; }
.nav-submenu > li:before { 
  content: '';
  position: absolute;
  left: 10px; top: 50%; 
  transform: translateY(-50%);
  width: 12px; height: 1px;
  transition: .3s;
  background-color: #666;
}
.nav-submenu > li:hover:before { left: 20px;
  background-color: #0c5adb; }
.header-trigger {
  display: none;
  position: absolute;
  top: 50%; right: 20px;
  width: 30px; height: 30px;
  transform: translateY(-50%);
}
.header-trigger span {
  position: absolute;
  left:50%;
  transform: translate(-50%, -50%);
  width: 80%; height: 3px;
  background-color: #fff;
  transition: .3s;
}
.header-trigger span:nth-child(1) { top: 25%; }
.header-trigger span:nth-child(2) { top: 50%; }
.header-trigger span:nth-child(3) { top: 75%; }
.header-trigger.active span:nth-child(1) { top: 50%; transform: translate(-50%, -50%) rotate(-45deg); }
.header-trigger.active span:nth-child(2) { opacity: 0; }
.header-trigger.active span:nth-child(3) { top: 50%; transform: translate(-50%, -50%) rotate(45deg); }

.tools { display: flex; align-items: center; color: #fff; }
.tools > div { margin: 0 40px 0 0; }
.tools > div a { 
  padding: 4px 8px; 
  margin: 0 3px; 
  background-color: #0c5adb; 
  border-radius: 1px;
}
.tools > a { 
  padding: 10px 20px; 
  border: 1px solid #fff; 
  transition: .3s; 
  border-radius: 1px;
}
.tools > a:hover { background-color: #fff; color: #0c4adb; }

/* Welcome */
.welcome { position: relative; height: 85vh; overflow: hidden; }
.welcome:hover .welcome-prev { left: 50px; opacity: 1; visibility: visible; }
.welcome:hover .welcome-next { right: 50px; opacity: 1; visibility: visible; } 
.welcome > a {
  position: absolute;
  z-index: 2;
  top: 50%; transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; height: 80px;
  font-size: 35px;
  color: royalblue;
  background-color: #fff;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}
.welcome > a:hover { background-color: royalblue; color: #fff;}
.welcome-prev { left: 0; }
.welcome-next { right: 0; }
.welcome-con { 
  display: flex; 
  width: 400%; height: 100%; 
  transition: .3s;
}
.welcome-con > div { 
  width: 50%; 
  height: 100%; 
  background-size: cover;
}
.welcome-text {
  position: absolute;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  top: 50%; left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 60%; height: 50%; 
  color: #fff;
  font-size: 33px;
}
.welcome-text h1 { margin: 0 0 50px;  font-size: 33px; font-weight: normal; }
.welcome-text h1 > p { margin: 0 0 20px; font-size: 120px; font-weight: bold;}
.welcome-text div { display: flex; }
.welcome-text div a { 
  display: block; 
  width: 180px; height: 50px; 
  margin: 0 5px;
  font-size: 18px; 
  line-height: 50px; 
  text-align: center;
  border-radius: 3px; 
  transition: .3s;
}
.welcome-text div a:nth-child(1) { background-color: #0c5adb; }
.welcome-text div a:nth-child(1):hover { background-color: #fff; color: #0c5adb; }
.welcome-text div a:nth-child(2) { border: 1px solid #fff; box-sizing: border-box; }
.welcome-text div a:nth-child(2):hover { background-color: #fff; color: #0c5adb; }

.welcome-page-01 { background: url('./images/welcome-01.jpg') no-repeat; }
.welcome-page-02 { background: url('./images/welcome-02.jpg') no-repeat; }
.welcome-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%; 
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

/* Intro */
.intro { 
  display: flex; 
  justify-content: center; 
  height: 430px; 
}
.intro-con {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 60%; height: 100%; 
  perspective: 1000px;
}
.intro-card-con:hover .intro-card { transform: rotateY(180deg); } 
.intro-card-con { width: 23%; height: 60%; } 
.intro-card {
  position: relative;
  justify-content: center;
  width: 100%; height: 90%;
  background-color: #fff;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(.63,1.87,.55,.54);
  transform-style: preserve-3d;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.card-front,
.card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; height: 100%;
  backface-visibility: hidden;
}
.card-front > span { 
  width: 90px; height: 90px; 
  margin: 0 0 40px; 
  line-height: 90px; font-size: 30px; color: #fff; 
  background-color: #0c5adb; 
  border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
}
.card-front > h1 { font-size: 20px; color: #444;}
.card-back { transform: rotateY(180deg); padding: 10px; box-sizing: border-box; }
.card-back span { margin: 0 0 30px; font-size: 21px; font-weight: bold; }
.card-back h1 { font-size: 16px; color: #999;}

/* About */
.about { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.about-con { display: flex; width: 60%; }
.about-main h1:nth-of-type(1) { 
  margin: 0 0 80px; 
  padding: 0 20px 0 0;
  font-size: 40px; letter-spacing: -2px; font-weight: bold; 
}
.about-main > h1:nth-of-type(2) { 
  margin: 0 0 30px; 
  padding: 0 20px 0 0; 
  font-size: 21px; color: #616161; 
}
.about-main h1 b { color: #0c5adb; }
.about-main h1 span { 
  display: block; 
  margin: 0 0 16px;
  font-size: 16px; color: #0c5adb; letter-spacing: 5px; font-weight: bold;
}
.about-main > p { margin: 0 0 30px; padding: 0 40px 10px 30px; color: #616161; border-left: 1px solid #ceefff; box-sizing: border-box; }
.about-main > a { 
  display: block; 
  width: 170px; height: 50px; 
  margin: 0 0 0 30px; 
  text-align: center; line-height: 50px; font-weight: bold; color: #fff; 
  border-radius: 5px; 
  background-color: #0c5adb; 
}

/* Service */
.service { 
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 1300px;
  background-color: #eff2f7;
}
.service-con { width: 60%; }
.service-con > h1 {
  margin: 0 0 70px; 
  text-align: center; font-size: 40px; letter-spacing: -2px; font-weight: bold; 
}
.service-con > h1 span { 
  display: block; 
  margin: 0 0 16px;
  font-size: 16px; color: #0c5adb; letter-spacing: 5px; font-weight: bold;
}
.service-con > h1 p {
  width: 75%;
  margin: 60px auto 0; 
  font-size: 19px; color: #616161; font-weight: normal; letter-spacing: 0;
}
.service-con > span { display: block; text-align: center; color: #616161; }
.service-con > span b { font-weight: normal; color:#0c5adb; }
.service-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45% 45%;
  gap: 3%;
  height: 800px;
}
.service-card { 
  height: 100%; 
  padding: 15px; 
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
}
.service-card:hover > span { background-color: #0c5adb; color: #fff; }
.service-card:hover > a { background-color: #0c5adb; color: #fff; }
.service-card > span { 
  display: block;
  margin: 0 auto 30px;
  width: 80px; height: 80px;
  line-height: 80px;
  text-align: center;
  color: #0c5adb; 
  font-size: 30px;
  border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
  background-color: #e8ecfc;
  transition: .3s;
}
.service-card > h2  { 
  position: relative;
  margin: 0 0 30px;
  font-weight: bold; color: #0c5adb; font-size: 24px; 
}
.service-card > h2:before { 
  content: '';
  position: absolute;
  bottom: -10px; left: 50%; transform: translateX(-50%);
  width: 35%; height: 1px;
  background-color: #ccc;
}
.service-card > p { margin: 0 0 30px; color: #616161; }
.service-card > a { 
  display: block; 
  width: 40%; 
  margin: 0 auto; 
  padding: 8px 0 ;
  color: #616161;
  font-size: 14px;
  text-align: center; 
  border-radius: 20px;
  border: 1px solid #eee;
  transition: .3s;
}

/* More About */
@keyframes fade {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 15px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(255, 255, 255, 0.3), 0 0 0 45px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 15px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}
.more-about { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; border: 1px solid black; 
  background-color: #1a2f4e;
  overflow: hidden;
}
.more-about:before { 
  content: '';
  position: absolute;
  top: 0; left: -70%; 
  width: 100%; height: 150%;
  background-color: #0c5adb;
}
.more-about-con {
  position: relative;
  display: flex; 
  width: 65%; 
}
.more-about-img img { width: 100%; height: 100%;  }
  
.more-about-img,
.more-about-main { width: 50%; color: #fff; }
.more-about-main { padding: 50px 30px 30px 50px; box-sizing: border-box; }
.more-about-main > a:nth-of-type(1) { 
  display: block; 
  width: 70px; height: 70px; 
  margin: 0 0 50px; 
  text-align: center; line-height: 70px; font-size: 25px; color: #0c5adb;
  border-radius: 50%;
  box-shadow: 0 0 10px #000, 0 0 20px #ccc;
  background-color: #fff;
  animation: fade 3s infinite;
}
.more-about-main > h1 { margin: 0 0 20px; font-size: 40px; font-weight: bold; }
.more-about-main > p { margin: 0 0 40px; }
.more-about-main > a:nth-of-type(2) {
  display: block;
  width: 180px; height: 50px;
  text-align: center; line-height: 50px;
  background-color: #0c5adb;
  transition: .3s;
}
.more-about-main > a:nth-of-type(2):hover { color: #0c5adb; background-color: #fff;}

/* Portfolio */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.portfolio-con { width: 60%; }
.portfolio-con > h1 {  
  font-size: 42px; 
  width: 40%; 
  margin: 70px auto; 
  font-weight: bold; text-align: center;
}
.portfolio-con > h1 span { 
  display: block;
  font-size: 16px; color: #0c5adb; letter-spacing: 5px;
}
.portfolio-badge {
  display: flex;
  justify-content: center;
  margin: 0 0 50px;
}
.portfolio-badge > a { 
  display: block; 
  width: 10%; 
  margin: 0 0.5%; 
  padding: 8px 24px; 
  color: #616161; letter-spacing: 2px; text-align: center;
  border-radius: 5px; 
  background-color: #f2f4ff;
  transition: .3s;
}
.portfolio-badge > a:hover { color: #fff; background-color: #0c5adb; }
.portfolio-content { 
  display: grid;
  justify-content: space-around;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
}
.portfolio-card { 
  position: relative; 
  width: 350px; height: 400px; 
  margin: 30px 0 0 ;
  overflow: hidden; 
}
.portfolio-card > img { 
  position: absolute;
  top: 0; left: 0; 
  width: 100%; height: 100%;
  transition: .5s;
}
.portfolio-card:hover > img { transform: scale(1.1); }
.portfolio-card:hover .portfolio-card-hover { 
  bottom: 50px;
  opacity: 1; visibility: visible; 
}
.portfolio-card-hover { 
  position: absolute;
  bottom: 30px; left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 90%;
  padding: 25px 20px;
  color: #fff; 
  background-color: #0c5adb;
  border-radius: 5px;
  opacity: 0; visibility: hidden;
  transition: .5s;
  box-sizing: border-box;
}
.portfolio-card-hover > div { display: flex; }
.portfolio-card-hover > div a {
  display: block;
  width: 40px; height: 40px;
  margin: 0 10px 20px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #0c5adb;
}
.portfolio-card-hover > span { 
  display: block;
  margin: 0 0 10px 0;
}
.portfolio-card-hover > h2 { font-weight: bold; font-size: 20px; }

/* Member */
.member {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px; 
  background-color: #eff2f7;
}
.member-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 60%; height: 100%;  
}
.member-con > h1 { 
  width: 50%; 
  margin: 0 auto 70px; 
  text-align: center; font-size: 42px; font-weight: bold; 
}
.member-con > h1 span { 
  display: block; 
  margin: 0 0 10px;
  font-size: 16px; letter-spacing: 5px;  color: #0c5adb; 
}
.member-content { display: flex; height: 50%; }
.member-card { 
  width: 25%;
  margin: 0 15px; 
  text-align: center;
  border-radius: 5px; 
  overflow: hidden;
  transition: .3s;
}
.member-card:hover { transform: translateY(-10px); }
.member-card:hover .member-card-img .member-card-sns { right: 0; }
.member-card:hover .member-card-img:before { opacity: 0.8; visibility: visible; }
.member-card-img { 
  position: relative;
  width: 100%; height: 70%; 
  overflow: hidden; 
}
.member-card-sns { 
  position: absolute;
  top: 50%; right: -40px;
  transform: translateY(-50%);
  width: 40px;
  padding: 4px 0;
  background-color: #fff;
  transition: .3s;
}
.member-card-sns a { display: block; padding: 4px 0; color: #0c5adb; }
.member-card-img:before { 
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #0c5adb;
  opacity: 0; visibility: hidden;
  transition: .3s;
}
.member-card-img img { width: 100%; height: 100%; object-fit: cover; }
.member-card-name { 
  display: flex; 
  align-items: center; justify-content: center;
  height: 30%; 
  border-bottom: 3px solid #0c5adb;
  box-sizing: border-box;
  background-color: #fff;
}
.member-card-name h2 { font-size: 20px; font-weight: bold; }
.member-card-name h2 span { display: block; font-size: 13px; color: #0c5adb; }

/* Price */
.price { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1150px;
} 
.price-con { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 80%;
}
.price-con > h1 { 
  width: 50%; 
  margin: 0 auto 70px; 
  text-align: center; font-weight: bold; font-size: 42px; 
}
.price-con > h1 span { 
  display: block; 
  margin: 0 0 10px; 
  font-size: 16px; letter-spacing: 5px; color: #0c5adb;
}
.price-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.price-card { 
  width: 30%; height: 90%;
  margin: 0 15px;
  text-align: center;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 10px;
  transition: .5s;
}
.price-card:hover { border: 1px solid #0c5adb; }
.price-card:hover ul { border: 1px solid #0c5adb; }
.price-card:hover > a { color: #fff; background-color: #0c5adb; }
.price-card h2 { margin: 30px 0 50px; font-size: 30px; color: #0c5adb; font-weight: bold; }
.price-card h1 { margin: 0 0 25px; font-weight: bold; font-size: 55px; color: #0c5adb; }
.price-card h1 sup { font-size: 29px; }
.price-card h1 span { font-size: 19px; font-weight: normal; }
.price-card ul {
  width: 70%;
  margin: 0 auto 40px;  
  padding: 30px 20px; 
  color: #616161;
  border-radius: 8px;
  border: 1px solid #e6e6e6; 
  transition: .3s;
}
.price-card ul li { padding: 12px 0; font-size: 17px; }
.price-card > a { 
  display: block; 
  width: 50%; 
  padding: 15px 0; 
  margin: 0 auto; 
  border: 1px solid #e6e6e6; 
  font-weight: bold; font-size: 18px; color: #888; 
  transition: .3s; 
}

/* Footer */
footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
  background-color: #111a3a;
  color: #fff;
}
.footer-con { width: 60%; }
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 0 25px; 
  border-bottom: 1px solid #666;
  box-sizing: border-box;
}
.footer-top > div p { margin: 0 0 20px;  }
.footer-top > div,
.footer-top > ul { width: 30%; }
.footer-top > ul span,
.footer-top > div span { display: block;  margin: 0 0 40px; font-size: 22px; font-weight: bold;}
.footer-top > ul li { margin: 0 0 20px; }
.footer-sns { padding: 0 80px 0 0;  box-sizing: border-box;}
.footer-sns p { margin: 0 0 40px; }
.footer-sns > div a { margin: 0 10px 0 0; }
.footer-sns img { margin: 0 0 40px; } 

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.footer-bottom > div a { display: inline-block; margin: 0 20px; }